<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Relatório de Lucros</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login_credencial.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="login-box">
        <div class="info-container">
          <span class="info info-top">?</span>
          <div class="tooltip">
            Para obter as credenciais, acesse o Auvo, clique no nome da sua
            empresa no canto superior direito e vá até a aba "Integração". Você
            verá suas credenciais logo abaixo do título "Chaves de integração".
          </div>
        </div>
        <img
          src="{{ url_for('static', filename='img/Logo_Auvo.png') }}"
          alt="Auvo"
          class="logo"
        />
        <h1>
          Digite sua <b>AppKey</b> e token para<br />acessar o relatório de
          lucros
        </h1>
        <form id="loginForm">
          <div class="inputs-row">
            <div class="input-group">
              <label for="appkey">APPKEY</label>
              <input type="text" id="appkey" name="appkey" required />
            </div>
            <div class="input-group">
              <label for="token">TOKEN</label>
              <input type="password" id="token" name="token" required />
            </div>
          </div>
          <button type="submit" class="btn-consultar">Consultar</button>
        </form>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/login_credencial.js') }}"></script>
  </body>
</html>
